
<h2>This is the Boeing 747</h2>

<div class="Boeing">
  <%= image_tag "http://www.britishairways.com/assets/images/information/about-ba/fleet-facts/boeing-747-400/photo-gallery/750x500-boeing747-400-2.jpg", class: 'main' %>
</div>
<p>Standard Boeing 747 Seating Chart </p>


  <ul class="column1">
    <p></p>
    <li class="seat" data-column='0' data-row='A'>1A</li>
    <li class="seat" data-column='0' data-row='B'>1B</li>
    <li class="seat" data-column='0' data-row='C'>1C</li>
    <li class="seat" data-column='0' data-row='D'>1D</li>
    <li class="seat" data-column='0' data-row='E'>1E</li>
    <li class="seat" data-column='0' data-row='F'>1F</li>
  </ul>
  <ul class="column2">
    <li class="seat" data-column='1' data-row='A'>2A</li>
    <li class="seat" data-column='1' data-row='B'>2B</li>
    <li class="seat" data-column='1' data-row='C'>2C</li>
    <li class="seat" data-column='1' data-row='D'>2D</li>
    <li class="seat" data-column='1' data-row='E'>2E</li>
    <li class="seat" data-column='1' data-row='F'>2F</li>
  </ul>
  <ul class="column3">
    <li class="seat" data-column='2' data-row='A'>3A</li>
    <li class="seat" data-column='2' data-row='B'>3B</li>
    <li class="seat" data-column='2' data-row='C'>3C</li>
    <li class="seat" data-column='2' data-row='D'>3D</li>
    <li class="seat" data-column='2' data-row='E'>3E</li>
    <li class="seat" data-column='2' data-row='F'>3F</li>
  </ul>
  <ul class="column3">
    <li class="seat" data-column='3' data-row='A'>4A</li>
    <li class="seat" data-column='3' data-row='B'>4B</li>
    <li class="seat" data-column='3' data-row='C'>4C</li>
    <li class="seat" data-column='3' data-row='D'>4D</li>
    <li class="seat" data-column='3' data-row='E'>4E</li>
    <li class="seat" data-column='3' data-row='F'>4F</li>
  </ul>
  <ul class="column4">
    <li class="seat" data-column='4' data-row='A'>5A</li>
    <li class="seat" data-column='4' data-row='B'>5B</li>
    <li class="seat" data-column='4' data-row='C'>5C</li>
    <li class="seat" data-column='4' data-row='D'>5D</li>
    <li class="seat" data-column='4' data-row='E'>5E</li>
    <li class="seat" data-column='4' data-row='F'>5F</li>
  </ul>
  <ul class="column5">
    <li class="seat" data-column='5' data-row='A'>6A</li>
    <li class="seat" data-column='5' data-row='B'>6B</li>
    <li class="seat" data-column='5' data-row='C'>6C</li>
    <li class="seat" data-column='5' data-row='D'>6D</li>
    <li class="seat" data-column='5' data-row='E'>6E</li>
    <li class="seat" data-column='5' data-row='F'>6F</li>
  </ul>
  <ul class="column6">
    <li class="seat" data-column='6' data-row='A'>7A</li>
    <li class="seat" data-column='6' data-row='B'>7B</li>
    <li class="seat" data-column='6' data-row='C'>7C</li>
    <li class="seat" data-column='6' data-row='D'>7D</li>
    <li class="seat" data-column='6' data-row='E'>7E</li>
    <li class="seat" data-column='6' data-row='F'>7F</li>
  </ul>
  <ul class="column7">
    <li class="seat" data-column='7' data-row='A'>8A</li>
    <li class="seat" data-column='7' data-row='B'>8B</li>
    <li class="seat" data-column='7' data-row='C'>8C</li>
    <li class="seat" data-column='7' data-row='D'>8D</li>
    <li class="seat" data-column='7' data-row='E'>8E</li>
    <li class="seat" data-column='7' data-row='F'>8F</li>
  </ul>
  <ul class="column8">
    <li class="seat" data-column='8' data-row='A'>9A</li>
    <li class="seat" data-column='8' data-row='B'>9B</li>
    <li class="seat" data-column='8' data-row='C'>9C</li>
    <li class="seat" data-column='8' data-row='D'>9D</li>
    <li class="seat" data-column='8' data-row='E'>9E</li>
    <li class="seat" data-column='8' data-row='F'>9F</li>
  </ul>
  <ul class="column9">
    <li class="seat" data-column='9' data-row='A'>9A</li>
    <li class="seat" data-column='9' data-row='B'>9B</li>
    <li class="seat" data-column='9' data-row='C'>9C</li>
    <li class="seat" data-column='9' data-row='D'>9D</li>
    <li class="seat" data-column='9' data-row='E'>9E</li>
    <li class="seat" data-column='9' data-row='F'>9F</li>
  </ul>
  <ul class="column10">
    <li class="seat" data-column='10' data-row='A'>10A</li>
    <li class="seat" data-column='10' data-row='B'>10B</li>
    <li class="seat" data-column='10' data-row='C'>10C</li>
    <li class="seat" data-column='10' data-row='D'>10D</li>
    <li class="seat" data-column='10' data-row='E'>10E</li>
    <li class="seat" data-column='10' data-row='F'>10F</li>
  </ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="airplanes.js"></script>
</div>
</body>
</html>
