<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Private Jet</title>
</head> -->
<body>
  <h2>Ooooh you fancy. This is the Private Jet</h2>

  <div class="PrivatePlane">
    <%= image_tag "http://jetlux.com/images/Private-Jet-Dental-Holidays.png", class: 'main' %>
  </div>


  <ul class="column1">
    <p></p>
    <li class="seat" data-column='0' data-row='A'>1A</li>
    <li class="seat" data-column='0' data-row='B'>1B</li>

  </ul>
  <ul class="column2">
    <li class="seat" data-column='1' data-row='A'>2A</li>
    <li class="seat" data-column='1' data-row='B'>2B</li>

  </ul>
  <ul class="column3">
    <li class="seat" data-column='2' data-row='A'>3A</li>
    <li class="seat" data-column='2' data-row='B'>3B</li>

  </ul>
  <ul class="column3">
    <li class="seat" data-column='3' data-row='A'>4A</li>
    <li class="seat" data-column='3' data-row='B'>4B</li>

  </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="airplanes.js"></script>
</body>
</html>
